body {
    background-color: white;
    background-image: url(https://www.teahub.io/photos/full/8-80332_blur-background-hd.jpg);
    background-repeat: no-repeat;
  }
  
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
  }
  
  p {
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    font-size: 20px;
  }
  
  #main h1, p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #survey-form {
    background: blue;
    opacity: 0.6;
    display: block;
    border: 1px #000 solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
  }
  
  .form-group {
    padding-bottom: 10px;
    font-size: 20px;
  }